{% load static %}
<!--footer start-->

<!--back-to-top start-->
<a id="totop" href="#top" class="topbutcolor">
	<i class="fa fa-angle-up"></i>
</a>
<!--back-to-top end-->



<!-- <div id="bot-container"> </div> -->

<style>
	
	#TFCallButtonFloat {
    position: fixed !important;
    bottom: 123px;
    right: 43px;
	z-index: 1;
}
	#totop.top-visible {
    
    bottom: 190px !important;
	right: 50px !important;
}

@media (max-width: 992px) {
   
    #TFCallButtonFloat{
      right: 6%;
    }

	#totop.top-visible{
		right: 33px !important;
	}
  }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<!--Start of TeleFinity WebRTC-SIP Gateway Script-->
 
