{% extends "b2bportal/base_withoutmenu.html" %}
{% load static %}


{% block content %}
<br/>
<br/>
<div class="container mt-120">
	<div class="row m-3 justify-content-center divShadow">
		<div class="col-md-6 round mt-3">
			<form method="post">
				<br/>
				{% csrf_token %}
				{{ form }}
					<div align="center">
					<button class="btn trackbtn bg-danger text-white " style="width: 130px; font-size: 12px;"
							type="submit">
						Save  Changes
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<br/>
<br/>
{% endblock %}