{% extends "b2bportal/base_withoutmenu.html" %}
{% load static %}

 
{% block content %}
<br/>
<br/>
<style>
#Email {
    display: none;
  
}

#phone1 {
    display: none;
   
}

input[value="email"]:checked ~ #Email {
    display: block;
}

input[value="phone1"]:checked ~ #phone1 {
    display: block;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    visibility: hidden;
}
</style>

<link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/intlTelInput.js' %}"></script>
 
<div class="container">
	<div class="row justify-content-center ">
		<div class="col-md-6 round mt-3 divShadow">
			<br/>
			<h3 align="center" class="text-white"><b>Forgot your password!</b></h3>
		
			<form  method="post" action="">
				<br/>
				{% csrf_token %}
				<input type="radio" name="c" value="email" checked="checked" >
				
				{% if error == None %}
				<br>
				{% else %}
				<div class="alert alert-danger">
					<h5>{{error}}</h5>
				</div>
				{% endif %}
				<br>
				<div id="Email">
					<i class="fa fa-envelope prefix text-white"></i>
					<label for="id_email" class="text-white">Email</label>
					{{ form.email }}
					
				</div>
				
				<div id="phone1">

					<i class="fa fa-phone prefix "></i>
					<label for="id_mobile_phone">Phone Number</label>
					{{ form.phone }}
					{% if form.phone.errors %}
                    <p class="text-danger"> {{form.phone.errors}} </p>
                    {%endif%}
				
				</div> 
				
				
					<div align="center">
					<button class="btn trackbtn bg-danger text-white " style="width: 130px; font-size: 12px;"
							type="submit">
						Submit 
					</button>
					<a href="/premium-login" class="btn btn-danger btn-rounded"><i class="fa fa-home"></i>
						Home</a>
				</div>
			</form> 
			<hr/>
		</div>
	</div>
</div>
<br/>
<br/>



<script>
var input = document.querySelector("#phone");
var iti =   window.intlTelInput(input,({
	 initialCountry: "auto",
geoIpLookup: function(success, failure) {
 $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
   var countryCode = (resp && resp.country) ? resp.country : "us";
   success(countryCode);
 });
},
}));

 iti.promise.then(function() {
var countryData = iti.getSelectedCountryData();
console.log(countryData);
$('#phone').val("+"+countryData.dialCode);
});

$(document).ready(function() {
  $('.iti__flag-container').click(function() {
	var countryCode = $('.iti__selected-flag').attr('title');
	var countryCode = countryCode.replace(/[^0-9]/g,'')
	$('#phone').val("");
	$('#phone').val("+"+countryCode+""+ $('#phone').val());
 });
});
</script>
{% endblock %}
