{% extends "b2bportal/base_withoutmenu.html" %}
{% load static %}
 
{% block content %}
<hr/>
<br/>
<br/>
<div class="container mt-120" style="min-height: 400px;">
	<div class="row m-3 justify-content-center divShadow ">

		<div class="col-md-8 round m-3 text-dark">

			<h5 class="Naqelbluecolor text-white">
				We've sent details to reset your password on your registered email.

				If you do not receive any details, please contact us or call us at: 920020505.
			</h5>
		<!-- 	<h5>
				If you don't receive an email, please make sure you've entered the address you registered with,
				and check your spam folder.
			</h5> -->
			<a href="/premium-login" class="btn btn-danger btn-rounded"><i class="fa fa-home"></i>
				Home</a>
		</div>
	</div>
</div>

{% endblock %}