{% extends "b2bportal/base_withoutmenu.html" %}
{% load static %}
 


{% block content %}

<br/>
<br/>

<div class="main-site">
	<div class="cmt-bgcolor-white box-shadow spacing-14 border-rad_10">
	<section class="pt-60 pb-65 res-991-pb-40 clearfix">
	<div class="container">

		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-12">
				<div class="cmt-bgcolor-grey  card-resultpages">
					<div class="mb-20">
						<strong><p class=" p-10 res-991-pr-0 Naqelbluecolor"> Your password has been set. You may go ahead and <a href="/premium-login">login</a> now.</p></strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>
</div>


{% endblock %}



