{% extends "b2bportal/base_withoutmenu.html" %}
{% load static %}


{% block content %}
<div class="container mt-120">
	<div class="row m-3 justify-content-center ">
		<div class="col-md-6 round mt-3" style="-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">
			{% if validlink %}
			<br/>
			<h3 align="center">Change Password</h3>
			<form action="" method="post">
				<div style="display:none">
					<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
				</div>
				<div align="center" class="form-group">
					{{ form.new_password1.errors }}
					<label class="col-md-4 control-label ">New Password:</label>
					<div class="col-md-10">
						{{ form.new_password1 }}
					</div>
				</div>

				<div align="center" class="form-group">
					{{ form.new_password2.errors }}
					<label class="col-md-4 control-label">Confirm Password:</label>
					<div class="col-md-10">
						{{ form.new_password2 }}
					</div>
				</div>
				<div align="center">
					<button class="btn trackbtn bg-danger text-white " style="width: 130px; font-size: 12px;"
							type="submit">
						Change password
					</button>
				</div>
			</form>
			<br/>
			{% else %}
			<br>
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-12">
					<div class="cmt-bgcolor-grey  card-resultpages">
						<div class="mb-20">
							<strong><p class=" p-10 res-991-pr-0 text-danger"> Password reset unsuccessful</p></strong>
							<strong><p class=" p-10 res-991-pr-0 Naqelbluecolor"> 	The password reset link was invalid, possibly because it has already been used.
								Please request a new password reset.</p></strong>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}