{% load render_table from django_tables2 %}
<!--Include id="tableContainer" in enclosing container -->
<script>
    $('.reload').on("click",function(){
            location.reload();      
    });
    
    function confirmme(id)
    {
        if (confirm('Aye You sure to delete selected item?'+id))
        {
           htmx.ajax('GET', "/deletebooking/"+id, {target:'#dialog'})
           event.stopPropagation(); event.preventDefault();
        }
        else
        {
           event.stopPropagation(); event.preventDefault();
        }
        //hx-get="{% url 'home:deletebooking' record.booking_no.pk %}" hx-confirm="Are you sure you want to delete this customer?" hx-target="#dialog"
    }
</script>
<div id="tableContainer" class="overflow-x-auto max-w-5xl">
    <p class="font-semibold text-xs px-2 text-gray-600">Showing page {{ table.page.number }} of {{ table.paginator.num_pages }}</p>
    {% render_table table "/b2bportal/common/django_tables2.html" %}

</div>

    


