
{{ formset.management_form }}
{% for form in formset %}
<div>
    <h5 class="modal-title naqel-bg-color text-white pl-1" id="exampleModalLabel">Consignee</h5>
</div>
    {{ form }}
{% endfor %}





<div class="form-group">
<!--<div class="row naqel-text-color">
    <div class="col-lg-5 col-md-1 pl-4">
        <div class="form-group ">
            <input type="text" class="form-control" id="consignee_name_id" placeholder="Address1">
        </div>
        <div class="form-group">
            <div>
                <input type="text" class="form-control" id="address1_id" placeholder="Address1">
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text" class="form-control" id="address2_id" placeholder="Address2">
            </div>
        </div>

    </div>
    <div class="col-lg-2 col-md-1 pl-4">
        

    </div>
    <div class="col-lg-5 col-md-1 pl-4">
        <div class="form-group">
            <div>
                <input type="text" class="form-control" id="country_id" placeholder="City">
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text" class="form-control" id="city_id" placeholder="Country">
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text" class="form-control" id="phone_number_id" placeholder="Mobile">
            </div>
        </div>
    </div>
</div> -->