{% extends base_template %}
{% load static %}
{% block content %}

<style>
	.btn-primary {
		background-color: #06205c !important;
		padding: 4.5px 20px!important;
		float: right;
	  }
	</style>

<div class="main-site">
	<div class="cmt-bgcolor-white box-shadow spacing-14 border-rad_10">
	<section class="pt-60 pb-65 res-991-pb-40 clearfix">
	<div class="container">

		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-12">
				<div class="cmt-bgcolor-grey  card-resultpages">
					<div class="mb-20">
						<strong><p class=" p-10 res-991-pr-0 Naqelbluecolor">{{message}}</p></strong>
					</div>
					<!--featured-icon-box-->
					<div class="featured-icon-box icon-align-before-content  icon-ver_align-top style11">
						<div class="featured-content">
							<div class="featured-title">
								<a href="{{redirect}}" type="button" class="btn btn-primary"> OK</button><i
									class="fa fa-angle-double-left"></i> {{linktext}} </a>
							</div>
						</div>
					</div><!-- featured-icon-box end-->
				</div>
			</div>
		</div>
	</div>
	</section>
</div>
</div>

{% endblock %}