<form hx-get="/profile/"  hx-swap="innerHTML"> 
    <div class="modal-content"> 
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><center class="mb-2">Company Profile</center>
            </h5>
        </div>
        <div class="modal-body">
            <div class="container naqel-gray" style="height: 150px;">
                <div class="row naqel-gray" id="heading">
                    <div class="col-3 naqel-text-color"><b>Your Company Name:</b></div>
                    <div class="col-3 naqel-text-color">{{company.company_name}}</div>
                    <div class="col-3 naqel-text-color"><b>Country:</b></div>
                    <div class="col-3 naqel-text-color">{{company.country}}</div>
                    <div class="col-3 naqel-text-color"><b>Company Registeration Number:</b></div>
                    <div class="col-3 naqel-text-color">{{company.registration_number}}</b></div>
                    <div class="col-3 naqel-text-color"><b>City:</b></div>
                    <div class="col-3 naqel-text-color">{{company.city}}</div>
                    <div class="col-3 naqel-text-color"><b>Phone Number:</b></div>
                    <div class="col-3 naqel-text-color">{{company.phone_number}}</div>
                    <div class="col-3 naqel-text-color"><b>State:</b></div>
                    <div class="col-3 naqel-text-color">{{company.state}}</div>
                    <div class="col-3 naqel-text-color"><b>Email Address:</b></div>
                    <div class="col-3 naqel-text-color">{{company.email_address}}</div>
                    <div class="col-3 naqel-text-color"><b>Client ID:</b></div>
                    <div class="col-3 naqel-text-color">{{company.client_id}}</div>
                </div>
              </div>
    
        <div class="modal-footer">
    
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </form>  