<div class="row col-md-12">
    <div class="col-lg-2 pt-1">
        <label for="nameVariable" class="form-label required">Company Name:</label>
    </div>
    <div class="col-lg-4 pt-1">
        {{form.company_name}}
    </div>
    <div class="col-lg-2 pt-1">
        <label class="required" for="nameVariable">Address:</label>
    </div>
    <div class="col-lg-4 pt-1">
        {{form.address}}
    </div>
    <div class="col-lg-2 pt-1">
        <label for="nameVariable" class="form-label required">Contact/Department:</label>
    </div>
    <div class="col-lg-4 pt-1">
        {{form.contact_department}}
    </div>
    <div class="col-lg-2 pt-1">
        <label for="nameVariable" class="form-label required">Country:</label>
    </div>
    <div class="col-lg-4 pt-1">
        {{form.country}}
    </div>
    <div class="col-lg-2 pt-1">
        <label for="nameVariable" class="form-label required">Mobile:</label>
    </div>
    <div class="col-lg-4 pt-1">
        {{form.mobile}}
    </div>
    <div class="col-lg-2 pt-1">
        <label for="nameVariable" class="form-label required">City:</label>
    </div>
    <div class="col-lg-4 pt-1">
        {{form.city}}
    </div>
    <div class="col-lg-2 pt-1">
        <label for="nameVariable" class="form-label">Email:</label>
    </div>
    <div class="col-lg-4 pt-1">
        {{form.fax}}
    </div>
    <div class="col-lg-2 pt-1">
        <label for="nameVariable" class="form-label">State:</label>
    </div>
    <div class="col-lg-4 pt-1">
        {{form.state}}
    </div>
    <div class="col-lg-2 pt-1">
        <label for="nameVariable" class="form-label">Zip/Postal Code:</label>
    </div>
    <div class="col-lg-4 pt-1">
        {{form.postal_code}}
    </div>
    <div class="col-lg-1 pt-1">
        {{form.save_to_addressbook}}
    </div>
    <div class="col-lg-3 pt-1">
        <label for="check1">Save to address book</label><br>
    </div>

</div>
  